<%- partial('_partial/head') %>
<body>
  <div id="container" q-class="show:isCtnShow">
    <canvas id="anm-canvas" class="anm-canvas"></canvas>


    <!-- 隐藏左边栏目按钮 -->
    <% if (page.path === 'index.html'||page.path === 'archives/index.html'||page.path === 'photos/index.html') { %>
      <!-- 在首页的处理逻辑 -->
    <% } else { %>
      <!-- 在其他页面的处理逻辑 -->
      <div class="mymenucontainer" onclick="myFunction(this)">
        <div class="bar1"></div>
        <!-- <div class="bar2"></div>
        <div class="bar3"></div> -->
      </div>
    <% } %>
    

    <div class="left-col" q-class="show:isShow"  style="background: <%= theme.style && theme.style.left_ground.enable && theme.style.left_ground.url ? theme.style.left_ground.url : theme.style.left_ground.default %>">
      <%- partial('_partial/left-col', null, {cache: !config.relative_link}) %>
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse" style="background: <%= theme.style && theme.style.article_ground.enable && theme.style.article_ground.url ? theme.style.article_ground.url : theme.style.article_ground.default %>">
    <!-- <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse"> -->
      <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
      <div id="wrapper" class="body-wrap">
        <div class="menu-l">
          <div class="canvas-wrap">
            <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1" class="anm-canvas"></canvas>
          </div>
          <div id="js-content" class="content-ll">
            <%- body %>
          </div>
        </div>
      </div>
      <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/after-footer') %>
    <%- partial('_partial/tools') %>
    <%- partial('_partial/viewer') %>
  </div>
  <!-- 动态线条背景 -->
  <% if (theme.canvas_nest){ %>
    <script type="text/javascript"
    color="0,0,255" opacity='0.9' zIndex="-1" count="300" src="<%- url_for('//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js') %>"></script>
    <% } %>
    <!-- 雪花特效 -->
<% if (theme.snow){ %>
  <script type="text/javascript" src="<%- url_for('lib/snow.js') %>"></script>
  <!-- <script type="text/javascript" src="<%- url_for('lib/jquery-2.1.4.min.js') %>"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script>
    snow.down();
    $(window).resize(function() {
      $("canvas").css("z-index","500").remove();
      snow.down();
    });
  </script>
  <% } %>
  <!--鼠标点击烟花爆炸效果，需要引入jQuery-->
<% if (theme.fireworks){ %>
  <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script type="text/javascript" src="https://cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
  <script type="text/javascript" src="/fireworks.js"></script>
<% } %>
</body>
<script>
  //  隐藏左边栏目按钮
  var hide = false;
    function myFunction(x) {
        // x.classList.toggle("change");
        if(hide == false){
          $(".bar1").css('background-image', 'url(https://cdn.jsdelivr.net/gh/MarkChenyyds/resources@main/hexo-blog/categories.png)');
          $(".left-col").css('display', 'none');
          $(".mid-col").css("left", 6);
          $(".tools-col").css('display', 'none');
          $(".tools-col.hide").css('display', 'none');
          hide = true;

          $(".mymenucontainer").css('left', '0');

        }else{
          $(".bar1").css('background-image', 'url(https://cdn.jsdelivr.net/gh/MarkChenyyds/resources@main/hexo-blog/cross.png)');
          $(".left-col").css('display', '');
          $(".mid-col").css("left", 300);
          $(".tools-col").css('display', '');
          $(".tools-col.hide").css('display', '');
          hide = false;

          $(".mymenucontainer").css('left', '260px');
        }
    }
//

</script>
</html>