<% if(theme.xinzhi_weather){ %>
<!-- 这是刚刚生成的js代码 -->
<div id="tp-weather-widget"></div>
<script>
  (function (a, h, g, f, e, d, c, b) {
    b = function () {
      d = h.createElement(g);
      c = h.getElementsByTagName(g)[0];
      d.src = e;
      d.charset = "utf-8";
      d.async = 1;
      c.parentNode.insertBefore(d, c);
    };
    a["SeniverseWeatherWidgetObject"] = f;
    a[f] ||
      (a[f] = function () {
        (a[f].q = a[f].q || []).push(arguments);
      });
    a[f].l = +new Date();
    if (a.attachEvent) {
      a.attachEvent("onload", b);
    } else {
      a.addEventListener("load", b, false);
    }
  })(
    window,
    document,
    "script",
    "SeniverseWeatherWidget",
    "//cdn.sencdn.com/widget2/static/js/bundle.js?t=" +
      parseInt((new Date().getTime() / 100000000).toString(), 10)
  );
  window.SeniverseWeatherWidget("show", {
    flavor: "bubble",
    location: "WWMKWU0KKVZP",
    geolocation: true,
    language: "zh-Hans",
    unit: "c",
    theme: "auto",
    token: "d51db339-2302-4fba-bb55-0fd112095068",
    hover: "enabled",
    container: "tp-weather-widget",
  });
</script>
<style>
  #tp-weather-widget {
    position: absolute;
    z-index: 1000;
  }
</style>
<% } %> <% var defaultBg = '#4d4d4d'; %> <% var defaultBgImg = '/img/xqtd.gif';
%> <% var overlayBgImg= theme.style.gif && theme.style.gif.enable &&
theme.style.gif.path ? theme.style.gif.path : defaultBgImg; %>

<div
  class="overlay"
  style="background: <%= theme.style && theme.style.header ? theme.style.header : defaultBg %>;<% if (theme.style.gif && theme.style.gif.enable){ %>background: url('<%- url_for(overlayBgImg) %>') no-repeat ;<%}%> z-index:-1"
></div>
<div class="intrude-less">
  <header id="header" class="inner">
    <a href="<%=theme.root%>" class="profilepic">
      <img src="<%=theme.avatar%>" class="js-avatar" />
    </a>
    <hgroup>
      <h1 class="header-author">
        <a href="<%=theme.root%>"><%=theme.author%></a>
      </h1>
    </hgroup>
    <% if (theme.subtitle){ %>
    <p class="header-subtitle"><%=theme.subtitle%></p>
    <%}%>

    <nav class="header-menu">
      <ul>
        <% for (var i in theme.menu){ %>
        <li><a href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <%}%>
      </ul>
    </nav>
    <nav>总文章数 <%=site.posts.length%></nav>
    <nav class="header-smart-menu">
      <% for (var i in theme.smart_menu){ %> <% if(theme.smart_menu[i]){ %>
      <a q-on="click: openSlider(e, '<%-i%>')" href="javascript:void(0)"
        ><%= theme.smart_menu[i] %></a
      >
      <% } %> <%}%>
    </nav>
    <nav class="header-nav">
      <div class="social">
        <% for (var i in theme.subnav){ %>
        <a
          class="<%= i %>"
          target="_blank"
          href="<%- url_for(theme.subnav[i]) %>"
          title="<%= i %>"
          ><i class="icon-<%= i %>"></i
        ></a>
        <%}%>
      </div>
      <!-- 《左侧边栏添加--网易云音乐插件 -->
      <!-- https://www.writebug.site/2018/04/21/hexo-yilia个性化之-添加背景音乐/ -->
      <% if(theme.simple_163_music && theme.simple_163_music.enable){ %>
      <iframe
        frameborder="no"
        border="0"
        marginwidth="0"
        marginheight="0"
        width="228"
        height="86"
        src="//music.163.com/outchain/player?type=2&id=4899152&auto=0&height=66"
      ></iframe>
      <% } %>
      <!-- 网易云音乐插件》-->
    </nav>
  </header>
</div>
